.app {
  background-color: #fff;
}

.app-bar {
  background-color: rgba(0, 0, 0, 1) !important;
}

.url-input-card {
  width: 50%;
  margin-left: 25%;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.url-input-card2 {
  margin: 10px 0;
  font-size: 16px !important;
}

.url-text-field {
  margin: 0 16px;
}